html {
    background-color: #f1f5f9;
    font-family: sans-serif;
}

html.dark {
    background-color: #0d0950;
    color: #fff;
  }

.dark .nav-links a {
color: #fff;
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}