html.dark .main {
  background-color: #131516;
  color: #fff;
}

html.dark header,
html.dark footer,
html.dark .sidebar,
html.dark .article,
html.dark .main-content,
html.dark table {
  background-color: #1c1e26;
  color: #e8e6e3
}

html.dark a{
  color: rgb(0, 119, 255);
}

html.dark a:visited{
  /* color: rgb(209, 10, 110); */
  color:#a35fd1;
}

html.dark h1,
html.dark h2,
html.dark h3,
html.dark h4{
  color: #d3d2d0;
}

.unstyled-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* @font-face {
  font-family: 'GenShinGothic';
  src: url('/fonts/GenShinGothic-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

pre {
  padding: 14px;
  border-radius: 8px;
}

code{
  font-family: 'Consolas', 'Lucida Sans Unicode','Lucida Grande';
}


/* テーブルのレスポンシブコンテナ */
.table-responsive {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 1rem;
}

/* テーブルの基本スタイル */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-align: left;
}

/* ヘッダーセルのスタイル */
th {
  background-color: #f5f5f5;
  padding: 0.75rem;
  border-bottom: 2px solid #ddd;
  border-right: 1px solid #ddd;
}

/* 最後のヘッダーセルの枠線を削除 */
th:last-child {
  border-right: none;
}

/* データセルのスタイル */
td {
  padding: 0.75rem;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

/* 最後のデータセルの枠線を削除 */
td:last-child {
  border-right: none;
}

/* ストライプ効果 */
tbody tr:nth-child(odd) {
  background-color: #fafafa;
}

html.dark th{
  background-color: #282831;
  padding: 0.75rem;
  border-bottom: 2px solid #ddd;
  border-right: 1px solid #ddd;
}

html.dark td {
  background-color: #2a2a35;
  padding: 0.75rem;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}


/* レスポンシブ調整 */
@media (max-width: 600px) {
  table {
    font-size: 0.9rem;
  }
}

/* 引用のスタイル */
blockquote {
  margin: 1.5rem 0;
  padding: 1rem 1.5rem;
  background-color: #f9f9f9;
  border-left: 5px solid #ccc;
  font-style: italic;
  color: #555;
}

html.dark blockquote {
  margin: 1.5rem 0;
  padding: 1rem 1.5rem;
  background-color: #2a2a35;
  border-left: 5px solid #ccc;
  font-style: italic;
  color: #c7c7c7;
}

/* レスポンシブ対応（必要に応じて） */
@media (max-width: 600px) {
  blockquote {
    padding: 0.75rem 1rem;
    font-size: 0.95rem;
  }
}