---
import BaseLayout from "../layouts/BaseLayout.astro"
import PostCard from "../components/PostCard.astro";
import { getCollection } from 'astro:content';
import { postSort } from "../scripts/postSort";
const posts = await getCollection('posts');
const sortedPosts = postSort(posts);
---

<BaseLayout pageTitle="it-lake.com" showTitle = {false}>
    <ul class="unstyled-list">
        {
          sortedPosts.map((post) =>
            (<li>
                <PostCard post={post}></PostCard>
            </li>)
          )
        }
    </ul>
</BaseLayout>