---
import Link from './Link.astro';
import GithubIcon from './icon/GithubIcon.astro';
import XIcon from './icon/XIcon.astro';
import RssIcon from './icon/RssIcon.astro';
---

<footer style="display: flex; justify-content: space-between; align-items: center; padding: 1rem 4rem; border-top: 2.5px solid #ddd; font-size: 0.9rem; color: #666;">
    <div>
        <p style="font-weight: bold;">Index: &nbsp;<Link href="/" class="no-underline">https:it-lake.com</Link></p>
        <p style="font-weight: bold;">Latest commit: &nbsp;<Link href="" class="no-underline">Github Link</Link></p>
    </div>

    <div style="display: flex; gap: 1rem;">
        <GithubIcon/>
        <XIcon width="21" height="21"/>
        <RssIcon/>
    </div>
</footer>