---
import Link from './Link.astro';
import GithubIcon from './icon/GithubIcon.astro';
import XIcon from './icon/XIcon.astro';
import RssIcon from './icon/RssIcon.astro';
---

<footer class="footer">
    <div>
        <p style="font-weight: bold;">Index: &nbsp;<Link href="/" class="no-underline">https:it-lake.com</Link></p>
        <p style="font-weight: bold;">Latest commit: &nbsp;<Link href="https://github.com/kosaku-hayashi/it-lake.com" class="no-underline">Link</Link></p>
    </div>

    <div style="display: flex; gap: 1rem;">
        <GithubIcon/>
        <XIcon width="21" height="21"/>
        <RssIcon/>
    </div>
</footer>

<style>
    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 4rem;
        border-top: 2.5px solid #ddd;
        font-size: 0.9rem;
    }

@media (max-width: 900px) {
    .footer{
        padding: 0.6rem 1.2rem;
        font-size: 0.8rem;
    }
}
</style>