---
import { navItemValues } from '../constants/navItem.ts';
import siteIcon from '../assets/image/site-icon-transparent.svg';
import ThemeIcon from './ThemeIcon.astro';
import Link from './Link.astro';
---

<header class="header">
  <div class="header-container">
    <Link href="/" class="unstyled">
      <div class="logo-container">
        <img src={siteIcon.src} alt="Site Logo" class="site-logo" loading="lazy" />
        <span class="site-title">it-lake.com</span>
      </div>
    </Link>

    <nav class="navigation">
      <ul class="nav-list">
        {
          navItemValues.map((item) => (
            <li>
              <a href={`/${item.toLowerCase()}`} class="nav-link">{item}</a>
            </li>
          ))
        }
      </ul>
    </nav>

    <ThemeIcon></ThemeIcon>
  </div>
</header>

<style>

.header{
  padding:1rem;
  border-bottom:2.5px solid #ddd;
}

.dark header{
  background-color: #131516;
  color: #fff;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.logo-container {
  display: flex;
  align-items: center;
}

.site-logo {
  width: 32px;
  height: 32px;
  margin-right: 0.5rem;
}

.site-title {
  font-size: 1.4rem;
  font-weight: bold;
}

.navigation {

}

.nav-list {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

html.dark .nav-link {
  color: #ffffff;
}

.nav-link:hover,
html.dark .nav-link:hover {
  color: #007BFF;
}

.unstyled {
  text-decoration: none;
  color: inherit;
}

.unstyled:visited {
  color: inherit;
}

/* レスポンシブスタイル */
@media (max-width: 900px) {
.header {
  padding:0.8rem;
}

.header-container {
  padding-left: 0rem;
  padding-right: 0rem;
  width: 100%;
}

.site-logo {
  margin-right: 0rem;
}

.site-title {
  font-size: 1rem;
  margin-left: 4px;
}

.nav-list {
  gap: 0.6rem;
}

.nav-link {
  font-size: 0.8rem;
}
}

</style>