---
import { navItemValues } from '../constants/navItem.ts';
import siteIcon from '../assets/image/site-icon-transparent.svg';
import ThemeIcon from './ThemeIcon.astro';
import Link from './Link.astro';
---

<header style="padding:1rem; border-bottom:2.5px solid #ddd;">
  <div class="container" style="display:flex; justify-content:space-between; align-items:center; ">
    <Link href="/" class="unstyled">
      <div style="display: flex; align-items: center;">
        <img src={siteIcon.src} alt="Site Logo" style="width: 32px; height: 32px; margin-right: 0.5rem;" loading="lazy" />
        <span style="font-size: 1.4rem; font-weight:bold;">it-lake.com</span>
      </div>
    </Link>

    <nav>
      <ul style="display: flex; gap: 1rem; list-style: none; margin: 0; padding: 0;">
        {
          navItemValues.map((item) => (
            <li>
              <a href={`/${item.toLowerCase()}`} class="nav-link">{item}</a>
            </li>
          ))
        }
      </ul>
    </nav>

    <ThemeIcon></ThemeIcon>
  </div>
</header>

<style>

.dark header{
  background-color: #131516;
  color: #fff;
}

.nav-link{
  color:#000000;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

html.dark .nav-link{
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover,
html.dark .nav-link:hover{
  color: #007BFF;
}

.unstyled {
  text-decoration: none;
  color: inherit;
}
.unstyled:visited {
  color: inherit;
}
</style>