---
const { href, target, class: className, ...rest } = Astro.props;
---

<a href={href} target={target} class={className} {...rest}>
    <slot />
</a>

<style>
.no-underline{
  text-decoration: none;
}
</style>