---
const { href, class: className = '', target } = Astro.props;
---

<a href={href} class={className} target={target}>
    <slot />
</a>

<style>
.unstyled {
  text-decoration: none;
  color: inherit;
}
.unstyled:visited {
  color: inherit;
}

.no-underline{
  text-decoration: none;
}

</style>