---
import Tag from './Tag.astro';

interface Props {
  tags:string[]
}

const { tags } = Astro.props as Props;
---

{tags && tags.length > 0 &&
  <>
      <span>|</span>
      <ul style="display:flex; flex-direction: row; list-style: none; padding: 0; margin: 0; gap:8px">
          {tags.map(tag => <Tag tagName={tag}></Tag>)}
      </ul>
  </>
}