---
import { tagToSlug } from "../scripts/tags";
import Link from "./Link.astro";
import TagIcon from "./icon/TagIcon.astro";

interface Props{
    tagName:string
}

const {tagName} = Astro.props;

---

<Link href={`/tags/${tagToSlug(tagName)}`} class="no-underline">
    <TagIcon width="12" height="12"></TagIcon>
    <p class="name">{tagName}</p>
</Link>

<style>
    .name{
        display:inline;
        margin-left: -2px;
    }

    @media (max-width: 900px) {
        .name{
            font-size: 0.9rem;
        }
}
</style>