---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro"
import Sidebar from "../components/Sidebar.astro";
import "../styles/global.css";

interface Props{
  pageTitle:string,
  showSidebar?:boolean,
}

const { pageTitle, showSidebar = true} = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <!-- <link rel="stylesheet" href="/prism/vsc-dark-plus.css" /> -->
    <!-- <link rel="stylesheet" href="/prism/material-dark.css" /> -->
    <!-- <link rel="stylesheet" href="/prism/coldark-dark.css" /> -->
    <!-- <link rel="stylesheet" href="/prism/xonokai.css" /> -->
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <slot name="head" />
    <title>{pageTitle}</title>
  </head>
  <body class="body">
    <Header />
    <main class="main">
      <div class="container content-with-sidebar">
        <div class="main-content" style={`flex: 6; max-width: ${showSidebar ? 820 : 1200}px; background-color: #ffffff; padding:15px`}>
          <h1>{pageTitle}</h1>
          <slot />
        </div>
        {showSidebar && <Sidebar class="sidebar" />}
      </div>
    </main>
    <Footer />

    <!-- <script src="/prism.js" is:inline></script> -->
  </body>
</html>

<style is:global>
.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}
</style>

<style>
.body{
  display: flex;
  flex-direction:  column;
  min-height: 100vh;
  margin: 0;
}

.main{
  flex: 1;
  background-color:#F1FCFD;
}

.content-with-sidebar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem 0;
}

.sidebar {
  flex: 1;
  background-color: #ffffff;
  padding: 1rem;
  /* border-left: 0px solid #eaeaea; */
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .content-with-sidebar {
      flex-direction: column;
  }

  .sidebar {
      border-left: none;
      border-top: 1px solid #eaeaea;
  }
}
</style>