---
const { width = 24, height = 24 } = Astro.props;
---

<a href="/rss.xml" aria-label="RSS Feed" style="text-decoration: none; color: inherit;">
    <svg xmlns="http://www.w3.org/2000/svg" width={width} height={height} fill="currentColor" viewBox="0 0 24 24">
        <path d="M4.26 18.3a2.05 2.05 0 100 4.1 2.05 2.05 0 000-4.1zM2 2v3.08a15 15 0 0114.93 14.93H20A17 17 0 002 2zm0 7.56v3.08a7.5 7.5 0 017.36 7.36H12a9.9 9.9 0 00-10-10z"/>
    </svg>
</a>